.calendar-manager {
    .calendar-manager-header{
        width: 18vw;
        background-color: var(--background-color-two);
        margin: auto;
        position: relative;

        height: calc(12vh / 2);

        border-radius: 16px;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        div{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            color: var(--gray-text);
            z-index: 10;
        }

        .calendar-manager-blob{
            position: absolute;
            width: 50%;
            background-color: var(--background-color);
            left: 0;
            overflow: hidden;
            border-radius: 16px;
        }
    }
}
